USE [master]
GO
/****** Object:  Database [BookingCarParkingManagement]    Script Date: 17/08/2023 9:50:46 CH ******/
CREATE DATABASE [BookingCarParkingManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookingCarParkingManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookingCarParkingManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookingCarParkingManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookingCarParkingManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookingCarParkingManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookingCarParkingManagement]
GO
/****** Object:  Table [dbo].[Baixe]    Script Date: 17/08/2023 9:50:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baixe](
	[BaixeID] [int] IDENTITY(1,1) NOT NULL,
	[TotalSlot] [int] NULL,
	[AvailableSlot] [int] NULL,
 CONSTRAINT [PK__Baixe__4A19ADE3DAA00527] PRIMARY KEY CLUSTERED 
(
	[BaixeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 17/08/2023 9:50:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[SlotxeID] [int] NULL,
	[CarID] [int] NULL,
	[BookingTime] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK__Book__3DE0C227808A9B22] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 17/08/2023 9:50:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BSX] [varchar](20) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Car__68A0340EF6DC1333] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slotxe]    Script Date: 17/08/2023 9:50:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slotxe](
	[SlotxeID] [int] IDENTITY(1,1) NOT NULL,
	[BaixeID] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Slotxe__323B5F477A40B373] PRIMARY KEY CLUSTERED 
(
	[SlotxeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/08/2023 9:50:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Password] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Role] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Users__1788CCACA6E8E77D] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Book__CarID__5441852A] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Book__CarID__5441852A]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Book__SlotxeID__534D60F1] FOREIGN KEY([SlotxeID])
REFERENCES [dbo].[Slotxe] ([SlotxeID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Book__SlotxeID__534D60F1]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Book__UserID__5FB337D6] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Book__UserID__5FB337D6]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK__Car__UserID__5070F446] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK__Car__UserID__5070F446]
GO
ALTER TABLE [dbo].[Slotxe]  WITH CHECK ADD  CONSTRAINT [FK__Slotxe__BaixeID__4BAC3F29] FOREIGN KEY([BaixeID])
REFERENCES [dbo].[Baixe] ([BaixeID])
GO
ALTER TABLE [dbo].[Slotxe] CHECK CONSTRAINT [FK__Slotxe__BaixeID__4BAC3F29]
GO
USE [master]
GO
